body {
    background-color: #f7f7f7;
}
body {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif;
    /* font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
div.col-md-8 {
    background-color: #ffffff;
    border: 1px solid;
    border-image: linear-gradient(to right, #e6e6e6, #e6e6e6) 1;
}
.col-md-8 {
    padding-right: 30px;
    padding-left: 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.2;
}
h1 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* font-weight: 300; */
}
h3 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h4 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h5 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h6 {
    font-family: Serif, "Lucida Console", "Courier New", Verdana, Arial, Georgia, "Times New Roman", Monospace, Sans-serif, 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1, .h1 {
    font-size: 39px;
    font-weight: bold;
}
h2, .h2 {
    font-size: 28px;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #d6d6d6;
    font-weight: bold;
}
h3, .h3 {
    font-size: 22px;
    font-weight: bold;
}
h4, .h4 {
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
}
h5, .h5 {
    font-size: 15px;
}
h6, .h6 {
    font-size: 13px;
}
blockquote {
    background-color: #f5f5f5;
}
blockquote p {
    font-size: 100%;
}
